{{#*inline "endAndChange"}}
        <span class="delta-end">{{> scalar value=end unit=unit}}</span>
    </span>{{!-- This closes span.delta-numbers --}}
    <span class="delta-change">
        <span class="delta-percent-change">change: <span class="scalar-value">{{percentChange start end}}</span></span>
        <span class="delta-measurement-duration">over {{number measurementDuration}}s ({{number ratePerSecond}}{{#if unit}}{{unit}}{{/if}}/s)</span>
    </span>
{{/inline}}

<span class="delta {{#if goodDir}}delta-good-{{goodDir}} {{/if}}{{cssClass}}">
    <span class="delta-numbers">
        <span class="delta-start">{{> scalar value=start unit=unit}}</span>
        {{#iflt start end}}
            <span class="delta-dir delta-dir-up">⬆</span>
            {{> endAndChange}}
        {{else}}
            {{#ifgt start end}}
                <span class="delta-dir delta-dir-down">⬇</span>
                {{> endAndChange}}
            {{else}}
                </span>{{!-- This closes span.delta-numbers --}}
                <span class="delta-change"><span class="delta-no-change">no change</span></span>
            {{/ifgt}}
        {{/iflt}}
</span>