{{#ifgt data.length 1}}
    <div class="trend-graph {{cssClass}}">
        <svg id="trend-svg-{{svgId}}"></svg>
    </div>

    <script>createTrendGraph("trend-svg-{{svgId}}", {{{json data}}}, {{{json mean}}}, {{{json windowDuration}}}, {{{json unit}}});</script>
{{else}}
    <div class="no-trend-graph {{cssClass}}">No trend data available.</div>
{{/ifgt}}
